.company-info-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  padding: 15px 0;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}
