<li
  *ngFor="let stock of stocks"
  class="list-group-item"
  app-blackout
  [hidden]="hiddenLst(stock)"
  (click)="onSelect(stock, $event)"
  [class.selected]="lstClass(stock)"
>
  <div class="stock-name">{{ stock.symbol }}</div>
  <div class="stock-price">{{ stock.latestPrice }}</div>
  <div class="stock-percent" [app-percent-color]="stock.changePercent">{{ stock.changePercent }}</div>
  <app-side-bar-list-btn [stock]="stock"></app-side-bar-list-btn>
  <!--<svg width="25px" height="25px" (click)="addToFavorites(stock)">
        <path class="star" d="M12.5,0 L15.5,10 L24,10 L17,15 L21,24 L12.5,17.5
         L4,24 L8,15 L1,10 L9.5,10 z "></path>
    </svg>-->
</li>
