.stock-name {
  min-width: 20%;
  font-weight: 600;
}
.stock-price {
  min-width: 25%;
  text-align: center;
}
.stock-percent {
  min-width: 20%;
  font-weight: 600;
  text-align: center;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: 10px;
  border-radius: 20px;
  background-color: #e1e1e1;
  border: none;
}

.selected {
  background-color: #ace7ff;
  border-color: #ace7ff;
}
li:active, li:focus {
  outline: none !important;
}

