
  <ul class='list-group'>
    <li *ngFor='let stock of stocks' class='list-group-item' appBlackout
        (click)="onSelect(stock, $event)" [class.selected]="lstClass(stock)">
      <div class="stock-name">{{stock.symbol}}</div>
      <div class="stock-price">{{stock.latestPrice}}</div>
      <div class="stock-percent" [style.color]="percentColor(stock)">{{stock.changePercent}}</div>
      <button class="btn btn-light btn-list" *ngIf="auth.user$ | async as user" (click)="addToFavorites(stock)"
              [class.btn-selected]="btnClass(stock)">{{stock.state}}</button>
    </li>
  </ul>


