.side-bar {
  height: 100%;
  grid-area: side-bar;
  overflow-y: scroll;
}
.btn-choice {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}
.btn-item {
  margin: 0 10px;
  padding: 8px;
  border-radius: 15px;
  width: 70%;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #fff;
}
.selected {
  background-color: #7fcfff;
  border-color: #7fcfff;
}
