.chart-range-buttons{
  display:flex;
  flex-direction: row;
  /*width:750px;*/
  justify-content: flex-end;
}

.button-range {
  width: 40px;
  height:40px;
  margin-right: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#262626;
  font-family: 'Montserrat';
  font-size:0.8em;
}
.button-range:hover {
  cursor: pointer;
  color: #0ADBFC;
}

.indicators-select {
  width: 130px;
  height: 40px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color:#262626;  
  font-family: 'Montserrat';
  font-size: 0.8em;
}

.indicators-select:hover {
  cursor: pointer;
  color: #0ADBFC;
}

.separator {
  width:50px;
  height:40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:#A2A2A2;
  font-size: 0.8em;
}
