.stock-name {
  /*grid-area: name;*/
  min-width: 20%;
  font-weight: 600;
}
.stock-price {
  min-width:25%;
  text-align: center;
}
.stock-percent {
  min-width: 20%;
  font-weight: 600;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
  /*grid-template-columns: 20% 25% 20% 35%;
  grid-template-areas: "name price percent";*/
  font-size: 18px;
  margin: 10px;
  border-radius: 20px;
  background-color: #e1e1e1;
  border: none;
}
.btn-list {
  border-radius: 25px;
  font-size: 12px;
}
.btn-selected {
  background-color: #7fcfff;
  border-color: #7fcfff;
}
.selected {
  background-color: #ace7ff;
  border-color: #ace7ff;
}
/*::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  margin: 5px 0;
}
::-webkit-scrollbar-thumb  {
  background-color: gray;
  border-radius: 5px;
}*/
