<ul class='list-group'>
  <li *ngFor='let stock of stocks' (click)="onSelect(stock, $event)" appBlackout
      [class.selected]="stock.symbol === dbUserWatchlist.selectedStock"
      [hidden]="userSymbols.indexOf(stock.symbol) === -1" class='list-group-item'>
    <div class="stock-name">{{stock.symbol}}</div>
    <div class="stock-price">{{stock.latestPrice}}</div>
    <div class="stock-percent" [style.color]="stock.changePercent>0?'green':'red'">{{stock.changePercent}}</div>
    <button class="btn btn-light btn-list" (click)="addToFavorites(stock)">{{stock.state}}</button>
  </li>
</ul>
