.about-company {
  display: flex;
  flex-direction: column;
}
.about-company h1 {
  color: #262626;
  font-family: 'Montserrat';
  font-size: 1em;
  font-weight: 600;
}
.about-company p {
  color: #262626;
  font-family: 'Montserrat';
  font-size: 1em;
  font-weight: 300;
  width: 400px;
}
.about-company a {
  color: #0064fb;
  font-family: 'Montserrat';
  font-size: 1em;
  font-weight: 200;
  width: 400px;
}

.company-info-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5px;
}
.company-info-column-item h1 {
  color: #262626;
  font-family: 'Montserrat';
  font-size: 1em;
  font-weight: 300;
}
.company-info-column-item h2 {
  color: #262626;
  font-family: 'Montserrat';
  font-size: 1em;
  font-weight: 600;
}
