.symbol-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
}

.symbol-card h1 {
  color: #262626;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 2em;
}
.symbol-card h2 {
  color: #262626;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.6em;
}
.symbol-card h3 {
  color: #08c41b;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.6em;
}
