.symbolCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:400px;
}

.symbolCard h1 {
  color:#262626;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 2em;
}
.symbolCard h2 {
  color:#262626;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.6em;
}
.symbolCard h3 {
  color: #08C41B;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.6em;
}
