<div class="tab-changing-section">
  <div id="openClosed" class="indicator-column">
    <p>Открытие</p>
    <h2>{{ monthIndicator.open }}</h2>
    <p>Закрытие</p>
    <h2>{{ monthIndicator.close }}</h2>
  </div>
  <div id="previousOpenClosed" class="indicator-column">
    <p>Предыдущее открытие</p>
    <h2>{{ monthIndicator.preOpen }}</h2>
    <p>Предыдущее закрытие</p>
    <h2>{{ monthIndicator.preClose }}</h2>
  </div>
  <div id="minMax" class="indicator-column">
    <p>Максимальная ставка</p>
    <h2>{{ monthIndicator.max }}</h2>
    <p>Минимальная ставка</p>
    <h2>{{ monthIndicator.min }}</h2>
  </div>
  <div id="monthMinMax" class="indicator-column">
    <p>Максимум за месяц</p>
    <h2>{{ monthIndicator.maxMonth }}</h2>
    <p>Минимум за месяц</p>
    <h2>{{ monthIndicator.minMonth }}</h2>
  </div>
</div>


