.indecies {
  padding-left: 30px;
  padding-top: 10px;
}

.indecies h1 {
  font-family: 'Montserrat';
  font-size: 1.2em;
  color: #262626;
}

.indecies h2 {
  font-family: 'Montserrat';
  font-size: 1em;
  margin-top: 5px;
  color: #262626;
}

.indecies h2:hover {
  color: #0adbfc;
}
